.header {
    grid-area: h;
    background-color: green;
    height: 30;
    width: 30;
    alt: logo;
  }
  .header img {
    width: 100px;
  }


  .loginBlock {
    float: right;
    margin: 5px;
  }
  
  .loginBlock a {
    color: white;
  }