.form-container {
    width: 400px;
    margin: auto;
  }
  
.dialogsItems {
    padding: 10px;
}

.dialogsItems .active {
    color: gold;
}

.massages {
    padding: 10px;
}


.addMessageItem {
    padding: 10px;
}