.nav {
    grid-area: n;
    background-color: #606060;
    padding: 20px;
  }

  .item a {
    color: white;
    text-decoration: none;
    font-weight: bold;
  }

  .item a {
    color: white
  }

  .item .activeLink {
    color: black;
  }